/*Nav menu*/

.header {
    background-color: white;
    height: 100px;
    position: absolute;
    border-bottom: 1px groove rgba(174, 223, 255, 0.658);
    padding: 0 2rem;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    z-index: 999;
}

.header .logo img {
    
    transition: all 0.3s;
    width: 100%;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.navbar {
    display: flex;
    width: 100%;
    height: 100px;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.header .navbar ul li {
    list-style: none;
}

.header .navbar .navbar-links {
    display: flex;
    gap: 2rem;
    max-width: max-content;
    align-items: center;
    justify-content: space-between;    
}

.header .navbar .navbar-links li {
    transition: all 0.3s;

}

.header .navbar .navbar-links li:hover{
    transform: scale(1.1);  
}

.header .navbar .navbar-links li a{
    transition: all 0.3s;
    list-style: none;
    text-decoration: none;
    font-size: 0.8rem;
    color: rgb(0, 67, 129);

}

.header .navbar .navbar-links li a:hover{
    border-bottom: 1px groove rgb(0, 67, 129);
    padding-bottom: 10%;
    border-radius: 4px;
}

.header .navbar .toggle_btn {
    color: rgb(70, 70, 70);
    font-size: 1.5rem;
    transition: all 0.2s;
    cursor: pointer;
    display: none;
}

.header .navbar .toggle_btn:hover {
    transform: scale(1.2);

}

.action_btn {
    background-color: rgb(0, 195, 255);
    color: aliceblue;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
}

.action_btn:hover {
    scale: 1.01;
    color: rgb(0, 136, 255);
    background-color: aliceblue;
    border: 1px groove rgb(0, 110, 255);
}

.action_btn:active {
    scale: 0.95;
}

.icon-whatsapp {
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 10px;
    display: inline-block;
    cursor: pointer;
    
}

.icon-whatsapp i {
    font-size: 25px;
    padding: 0 3px;
    transition: all 0.2s;

}

.icon-whatsapp i:hover {
    font-size: 35px;
    padding: 0 3px;
}

/*Drop-down menu*/

.dropdown_menu {
    position: absolute;
    display: none;
    height: 0;
    right: 2rem;
    top: 100px;
    width: 300px;
    background-color: rgba(0, 89, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    padding: 5px 5px 0px 5px;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 250px;
}

.header .dropdown_menu li {
    list-style: none;
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .dropdown_menu li a {
    text-decoration: none;
    font-size: 0.9rem;
    color: aliceblue;
    transition: all 0.3s;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header .dropdown_menu li a:hover {
    color: rgb(103, 174, 255);
    border-bottom: 1px groove rgb(103, 174, 255);
    padding-bottom: 0.5rem;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.header .dropdown_menu a {
    list-style: none;
    text-decoration: none;
}

.header .dropdown_menu .action_btn {
    justify-content: center;
    display: flex;
    list-style: none;
    text-decoration: none;
}



@media screen and (min-width:0px) and (max-width: 238px) {

    .header .logo  {
        align-items: center;
        justify-content:left;
        cursor: pointer;
        height: auto;
        width: 100%;
        max-width: 130px;
        min-width: 75px;
        margin-right:0px;
    }

    .header .logo img:hover {
        transform: scale(1.1);
    }
    

    .header .navbar .navbar-links, .navbar .action_btn {
        display: none;
    }

    .header .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
        left: 2rem;
        width: unset;
        background-color: rgba(0, 89, 255, 0.1);
        backdrop-filter: blur(15px);
        overflow: hidden;
        padding: 2px 2px 0px 2px;
        transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .header .dropdown_menu li a {
        text-decoration: none;
        font-size: 0.8rem;
        color: aliceblue;
        transition: all 0.3s;
        justify-content: center;
        align-items: center;
    }

    .header .dropdown_menu .action_btn {
        width: 100%;
        justify-content: center;
        display: flex;
        list-style: none;
        text-decoration: none;
    }

    .icon-whatsapp {
        display: none;
        align-items: center;
    }
}    

@media screen and (min-width:239px) and (max-width: 367px) {

    .header .logo  {
        align-items: center;
        justify-content:left;
        cursor: pointer;
        height: auto;
        width: 100%;
        max-width: 130px;
        min-width: 75px;
        margin-right:0px;
    }

    .header .logo img:hover {
        transform: scale(1.1);
    }
    

    .header .navbar .navbar-links, .navbar .action_btn {
        display: none;
    }

    .header .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
        left: 2rem;
        width: unset;
        background-color: rgba(0, 89, 255, 0.1);
        backdrop-filter: blur(15px);
        overflow: hidden;
        padding: 2px 2px 0px 2px;
        transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .header .dropdown_menu li a {
        text-decoration: none;
        font-size: 0.8rem;
        color: aliceblue;
        transition: all 0.3s;
        justify-content: center;
        align-items: center;
    }

    .header .dropdown_menu .action_btn {
        width: 100%;
        justify-content: center;
        display: flex;
        list-style: none;
        text-decoration: none;
    }

    .icon-whatsapp {
        display: none;
        align-items: center;
    }
}    

@media screen and (min-width:368px) and (max-width: 575px) {

    .header .logo  {
        align-items: center;
        justify-content:left;
        cursor: pointer;
        margin-right:0px;
    }

    .header .logo img:hover {
        transform: scale(1.1);
    }

    .header .logo img {
        
        transition: all 0.3s;
        height: auto;
        width: 100%;
        max-width: 140px;
        min-width: 120px;
        transition: all 0.3s;
    }
    

    .header .navbar .navbar-links, .navbar .action_btn {
        display: none;
    }


    .header .navbar .toggle_btn {
        display: block;
        
    }

    .dropdown_menu {
        display: block;
        width: unset;
        align-items: center;
        justify-content: center;
        left: 2rem;
        background-color: rgba(0, 89, 255, 0.1);
        backdrop-filter: blur(15px);
        overflow: hidden;
        padding: 2px 2px 0px 2px;
        transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .header .dropdown_menu li a {
        text-decoration: none;
        font-size: 0.8rem;
        color: aliceblue;
        transition: all 0.3s;
        justify-content: center;
        align-items: center;
    }

    .header .dropdown_menu .action_btn {
        width: 100%;
        justify-content: center;
        display: flex;
        list-style: none;
        text-decoration: none;
    }

    .icon-whatsapp {
        display: none;
    }

}

@media screen and ( min-width:576px ) and (max-width: 767px) {

    .header .logo  {
        align-items: center;
        justify-content:left;
        cursor: pointer;
        height: auto;
        width: 100%;
        max-width: 150px;
        min-width: 120px;
        margin-right:0px;
    }
    
    .header .logo img:hover {
        transform: scale(1.1);
    }

    .header .navbar .navbar-links, .navbar .action_btn {
        display: none;
    }


    .header .navbar .toggle_btn {
        display: block;
        margin-right: -55%;

    }

    .header .dropdown_menu .action_btn {
        width: 100%;
        justify-content: center;
        display: flex;
        list-style: none;
        text-decoration: none;
    }

    .header .dropdown_menu {
        display: block;
        left: 2rem;
        width: unset;
        background-color: rgba(0, 89, 255, 0.1);
        backdrop-filter: blur(15px);
        overflow: hidden;
        padding: 2px 2px 0px 2px;
        transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .header .dropdown_menu li a {
        text-decoration: none;
        font-size: 1rem;
        color: aliceblue;
        transition: all 0.3s;
        justify-content: center;
        align-items: center;
    }
    
    .icon-whatsapp {
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-left: 5px;
        display: flex;
        cursor: pointer;
        
    }
    
    .icon-whatsapp i {
        font-size: 25px;
        padding: 0 3px;
        transition: all 0.2s;
    
    }
}    

@media screen and ( min-width:768px ) and (max-width: 991px){

    .header {
        position: fixed;
        display: flex;
        height: 100px;
        border-bottom: 1px groove rgba(174, 223, 255, 0.658);
        padding: 0 2rem;
        top: 0;
        left: 0;
        width: 100%;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        text-transform: uppercase;
        align-items: center;
        z-index: 999;
    }
    
    .header .logo  {
        align-items: center;
        justify-content:left;
        cursor: pointer;
        height: auto;
        width: 100%;
        max-width: 180px;
        min-width: 130px;
        margin-right:0px;
        transition: all 0.3s;

    }
    
    .header .logo:hover {
        transform: scale(1.0);
    }
    
    .navbar {
        display: flex;
        width: 100%;
        height: 80px;
        max-width: 1200px;
        margin: 0 auto;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
    }
    
    .header .navbar .navbar-links {
        display: flex;
        gap: 1.5rem;
        max-width: max-content;
        align-items: center;
        justify-content: center;
        margin-left: 5%;
    }
    
    .header .navbar .toggle_btn {
        color: rgb(70, 70, 70);
        font-size: 1.5rem;
        transition: all 0.2s;
        cursor: pointer;
        display: none;
    }
    
    .header .navbar .toggle_btn:hover {
        transform: scale(1.2);
    
    }
    
    .action_btn {
        background-color: rgb(0, 195, 255);
        color: aliceblue;
        padding: 0.5rem 1rem;
        border: none;
        outline: none;
        border-radius: 20px;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s;
        font-weight: 400;
        text-transform: uppercase;
        display: none;
    }
    
    .action_btn:hover {
        scale: 1.01;
        color: rgb(0, 136, 255);
        background-color: aliceblue;
        border: 1px groove rgb(0, 110, 255);
    }
    
    .action_btn:active {
        scale: 0.95;
    }
    
    .icon-whatsapp {
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-left: 10px;
        display: inline-block;
        cursor: pointer;
        
    }
    
    .icon-whatsapp i {
        font-size: 25px;
        padding: 0 3px;
        transition: all 0.2s;
    
    }
    
    .icon-whatsapp i:hover {
        font-size: 35px;
        padding: 0 3px;
    }
}    

@media screen and ( min-width:992px ) and (max-width: 1279px) {

    .header {
        position: fixed;
        display: flex;
        height: 100px;
        border-bottom: 1px groove rgba(174, 223, 255, 0.658);
        padding: 0 2rem;
        top: 0;
        left: 0;
        width: 100%;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        text-transform: uppercase;
        align-items: center;
        z-index: 999;
        
    }
    
    .header .logo  {
        align-items: center;
        justify-content:left;
        cursor: pointer;
        height: auto;
        width: 100%;
        max-width: 170px;
        min-width: 130px;
        margin-right:0px;
        transition: all 0.3s;

    }
    
    .header .logo:hover {
        transform: scale(1.0);
    }
    
    .navbar {
        display: flex;
        width: 100%;
        height: 80px;
        max-width: 1200px;
        margin: 0 auto;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        
    }
    
    .header .navbar .navbar-links {
        display: flex;
        gap: 1.5rem;
        max-width: max-content;
        align-items: center;
        justify-content: center;
        margin-left: 5%;
        
    }


    .header .navbar .action_btn {
        text-decoration: none;
        list-style: none;
        margin-right: -10%;
    }  
       
    .icon-whatsapp {
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-left: 8%;
        display: inline-block;
        cursor: pointer;
        
    }
    
}    

@media screen and ( min-width:1280px ) and (max-width: 1599px) {

    .header {
        position: fixed;
        display: flex;
        height: 100px;
        border-bottom: 1px groove rgba(174, 223, 255, 0.658);
        padding: 0 2rem;
        top: 0;
        left: 0;
        width: 100%;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        text-transform: uppercase;
        align-items: center;
        z-index: 999;
    }
    
    .header .logo  {
        padding: 0;
        align-items: center;
        justify-content:left;
        cursor: pointer;
        height: auto;
        width: 100%;
        max-width: 180px;
        min-width: 130px;
        margin-right:0px;
        transition: all 0.3s;

    }
}    

@media screen and ( min-width:1600px ) {

    .header {
        position: fixed;
        display: flex;
        height: 100px;
        border-bottom: 1px groove rgba(174, 223, 255, 0.658);
        padding: 0 2rem;
        top: 0;
        left: 0;
        width: 100%;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        text-transform: uppercase;
        align-items: center;
    }
    
    .header .logo  {
        align-items: center;
        justify-content:left;
        cursor: pointer;
        height: auto;
        width: 100%;
        max-width: 180px;
        min-width: 150px;
        margin-right:0px;
        transition: all 0.3s;

    }
    
    .header .navbar .toggle_btn {
        color: rgb(70, 70, 70);
        font-size: 1.5rem;
        transition: all 0.2s;
        cursor: pointer;
        display: none;
    }
    
    .header .navbar .toggle_btn:hover {
        transform: scale(1.2);
    
    }
    
    .icon-whatsapp {
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-left: 0%;
        display: inline-block;
        cursor: pointer;
        
    }
    
}    