@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


html {
    scroll-behavior: smooth;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.1rem;
    border: 0;
}

body {
    position: relative;
    padding-bottom: 0rem;
    background-color: #eee;
    padding-top: 5rem;
    padding-left: 0rem;
    padding-right: 0rem;
    }

    .container {
        margin: 0 auto;
        background-color: aliceblue;
        min-height: calc(100vh - 100px - 50px);
    } 

    .video_tucuman {
        width: 100%;
        height: 100%;
        margin-bottom: -0.4rem;
      }

      .video_tucuman video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

/*titulo tucuman header*/
.tucuman{
    font-size: 3.5rem;
    color: rgb(2, 123, 101);
    text-shadow: 2px 2px 1px rgb(54, 54, 54);
    font-weight: 800;
} 

/*BOTON INICIO VERDE*/
.action_btn {
    background-color: rgb(2, 123, 101);
    color: aliceblue;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
}

.action_btn:hover {
    scale: 1.01;
    color: rgb(0, 255, 119);
    background-color: aliceblue;
    border: 1px groove rgb(0, 255, 128);
}

.action_btn:active {
    scale: 0.95;
}

/*texto verde "el jardin..."*/

.texto1 .text-animated {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-top: 10px;
    background-color: rgb(2, 123, 101);
    padding: 5px 30px;
    border-radius: 30px;
    display: flex;
    box-shadow: 0 5px 10px #000;
    align-content: center;
    margin-left: 2%;
    margin-right: 2%; 
   
   }

.texto1 .text-animated:hover {
    opacity: 70%;
    
    
}

.texto1 .text-animated span {
    font-size: 35px;
    color: rgb(246, 247, 247);
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: 700;
    text-shadow: 1px 1px 1px black;
}

#texto2 {
    font-size: 2rem;
    font-weight: 700;
    padding: 10px ;
    border-radius: 10px;
    color: rgb(1, 108, 78);
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
    text-shadow:1px 1px #000;
   }

    /*Main   */

     /* CardBox Provincias a Visitar */
 
    .tab_wrapper1 {
       
      background-color: #b1cdbb8b;
       margin-bottom: 2%;
       margin-top: 2%;
       align-items: center;  
       margin-left: 2%;
       margin-right: 2%; 
       border-radius: 10px;
       display: grid;
    }
    .item1 .iframe{
        max-width: 100%;
        height: 100%;
    }
    .grid-ubicacion .item1 { grid-area: mapa; box-shadow: 0 5px 10px #000;
        border-radius: 10px;
        overflow: hidden;
        object-fit: cover;
        position: relative;
    }
    .grid-ubicacion .item2 { grid-area: ubicacion; }
    .grid-ubicacion .item3 { grid-area: parrafo; }

    .grid-ubicacion {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas: 'mapa ubicacion' 'mapa parrafo';
    grid-gap: 10px;
    padding: 10px;
        }

   #parrafoubi{
        box-sizing:initial;
        font-style:normal;
        font-size: 1.5rem;
        text-align:center;
        justify-content: center;
        align-content: center;
        color:rgb(10, 10, 10);
           }
   

.tab_wrapper2 {
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); 
      background-color: #b1cdbb8b;
       margin-bottom: 2%;
       margin-top: 2%;
       margin-left: 2%;
       margin-right: 2%; 
       border-radius: 10px;  
       padding: 1%;   
    }

.grid-ubicacion2 .item4 
    { grid-area: casa; 
        position: relative;
        display: grid;
        object-fit: cover;
        box-shadow: 0 5px 10px #000;
        border-radius: 20px;
        width: 100%;
        height: 100%;    
        
                          
}

.grid-ubicacion2 .item5 
{ grid-area: cuna; }

.grid-ubicacion2 .item6 
{ grid-area: parrafocasa; }

.grid-ubicacion2 {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas: 'cuna casa' 'parrafocasa casa';
    grid-gap: 15px;
    align-items: center;
    
    }


 .texto3 h2{
        position: relative;
        font-size: 55px;
        color: aliceblue;
        -webkit-text-stroke: 3px #dfdfdfe5;
        text-transform: uppercase;
        border-bottom: 2px solid #d8d8d8;
        margin-bottom: 2rem;
        font-weight: 800;
        padding-left: 10%;
    }
    
    .texto3 h2::before{
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        color: rgb(233, 107, 3);
        -webkit-text-stroke: 0px #383d52;
        border-right: 2px solid rgb(223, 176, 21);
        overflow: hidden;
        animation: animate 6s linear infinite;
        padding-left:10%;
   }
            
    @keyframes animate {
        0%, 20%, 80% {
            width: 0;
        }
        70%, 90% {
            width: 70%;
        }
    }

    .texto3 h3{
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        color: #ffffff;
        margin-bottom: 1rem;
        border-bottom: #b4b4b4 1px solid;
        background-color: #00a47e;
        text-transform: uppercase;
        padding: 10px 20px;
        border-radius: 50px;

        }

    .texto3 h3:hover{
        background-color: rgb(2, 123, 101);
        color: aliceblue;
    }    


    .tab_wrapper3 {
        box-shadow: 0 0 10px 0 rgba(245, 245, 245, 0.1); 
        background-color: rgba(196, 184, 171, 0.112);
         margin-bottom: 1rem;
         align-items: center;   
         display: grid; 
         grid-template-columns: 25% 25% 25% 25%;
         place-items: center;
         border-radius: 30px;
         width: 100%;
         padding: 20px;
        
      }
  

.card_places{
        position: relative;
        width: 350px;
        height: 350px;
        margin-top: 20px;
        margin-right: 20px;
        margin-left: 20px;
        box-shadow: 0 5px 10px #000;
        border-radius: 10px;
        overflow: hidden;
        display: inline-block;
    }

.card_places .face {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        overflow: hidden;
        transition: .5s;
        display: inline-block;
    }

.card_places .front {
        transform: perspective(600px) rotateY(0deg);
        box-shadow: 0 5px 10px #000;
        display: inline-block;
    }

    
.card_places .front img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: inline-block;
    }


/*FONDO DEL TEXTO DEL NOMBRE DE LA CARTA*/
.card_places .front h3 {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 45px;
        line-height: 45px;
        color: #f6f2f2;
        background: rgba(0, 0, 0, 0.642);
        text-align: center;
        
    }

.card_places .back {
        transform: perspective(600px) rotateY(180deg);
        background: rgb(79, 77, 27);
        padding: 15px;
        color: #e4dede;
        text-align: left;
        justify-content: center;
        box-shadow: 0 5px 10px #000;
        display: inline-block;
    }

.card_places .back .link {
        border-top: 1px solid #c4c4c49d;
        height: 50px;
        line-height: 50px;
    }

.card_places .back .link a {
        color: #f3f3f3;
        list-style: none;
        text-decoration: none;
        font-size: 15px;
        transition: all .5s;
        margin-top: 1rem;
    }

.card_places .back .link a:hover{
        color: #00b7ff;
        transform: scale(1.1);
        border-bottom: 1px solid #00b7ff;
        margin-bottom: 1px;
    }

.card_places .back h3 {
        font-size: 25px;
        margin-top: 1rem;
        letter-spacing: 2px;
        transition: all .5s;
        text-align: center;
    }

.card_places .back h3:hover{
        transform: scale(1.1);
    }

 .card_places .back p {
        letter-spacing: 0.1rem;
        max-width: max-content;
        font-size: 17px;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .card_places:hover .front {
        transform: perspective(600px) rotateY(180deg);
    }

    .card_places:hover .back {
        transform: perspective(600px) rotateY(360deg);
    }
    

@media screen and (min-width: 0px) and (max-width:367px) {
    
    .texto1 .text-animated .text1{
       
        font-size: 16px;
        padding:0%;
        margin:0%;
    }
   
    .grid-ubicacion{
        grid-template-areas: 'mapa' 
        'ubicacion' 'parrafo';
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, auto);
        place-items: center;
        max-width: 367px;
        margin: 0%;
        padding: 0%;
        ;
        
            }
    .item1{
        width: 100%;
        height: 350px;
        align-items: center;
        overflow: hidden;
        object-fit: cover;
        
     }
    .item2 #texto2{
        margin-bottom: 0rem;
        margin-top: 0rem;
        font-size: 22px;
        
    }
    .item3 #parrafoubi{
        font-size: 15px;
        margin-bottom: 1rem;
        margin-top: 0rem;
    }

    .grid-ubicacion2{
        grid-template-areas: 'casa casa' 
        'cuna cuna' 'parrafocasa parrafocasa';
        max-width: 367px;
        max-height: 570px;
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
        margin-top: 1%;
        margin-bottom: 2%;
    }

    .item5 #texto2{
        margin-bottom: 0rem;
        margin-top: 0rem;
        font-size: 22px;
        height: 70px;
    }
    .item6 #parrafoubi{
        font-size: 15px;
        margin-bottom: 0rem;
        margin-top: 0rem;
    }

    .tab_wrapper2 {
        margin-bottom: 2%;
        margin-top: 5%;
    }

    .tab_wrapper3 {

        grid-template-columns: 100%;
        grid-gap: 5px;
        padding: 10px;
        margin-top: 2%;
    }

    .card_places{
        position: relative;
        width: 300px;
        height: 300px;
        margin-top: 15px;
    }

    .texto3 h2{
        font-size: 2rem;
        display: none;
    }

    .texto3 h3{
        font-size: 1.2rem;
        margin-top: 2px;
        margin-bottom: 0px;
    }

    .card_places .back p {
        margin-top: 10px;
        font-size: 0.7em;
    }
    .card_places .back h3 {
        margin-top: 0px;
        font-size: 1rem;
    }
    
}

@media screen and (min-width: 368px) and (max-width: 767px) {

    .texto1 .text-animated .text1{
       
        font-size: 16px;
        padding:0%;
        margin:0%;
    }
   
    .grid-ubicacion{
        grid-template-areas: 'mapa' 
        'ubicacion' 'parrafo';
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, auto);
        place-items: center;
        max-width: 768px;
        margin: 0%;
        padding: 0%;
        }


    .item1{
        width: 100%;
        height: 100%;
        align-items: center;
        overflow: hidden;
        object-fit: content;
        
     }

     .item_iframe {
        width: 100%;
     }

    .item2 #texto2{
        margin-bottom: 0rem;
        margin-top: 0rem;
        font-size: 30px;
        
    }
    .item3 #parrafoubi{
        font-size: 20px;
        margin-bottom: 1rem;
        margin-top: 0rem;
    }

    .grid-ubicacion2{
        grid-template-areas: 'casa casa' 
        'cuna cuna' 'parrafocasa parrafocasa';
        max-width: 768px;
        max-height: 768px;
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
        margin-top: 1%;
        margin-bottom: 2%;
    }

    .item5 #texto2{
        margin-bottom: 0rem;
        margin-top: 0rem;
        font-size: 25px;
        height: 70px;
    }
    .item6 #parrafoubi{
        font-size: 20px;
        margin-bottom: 0rem;
        margin-top: 0rem;
    }

    .tab_wrapper2 {
        margin-bottom: 2%;
        margin-top: 5%;
    }


    .tab_wrapper3 {

        grid-template-columns: 100%;
        grid-gap: 5px;
        padding: 10px;
        margin-top: 2%;
    }

    .card_places{
        position: relative;
        max-width: 350px;
        max-height: 350px;
        margin-top: 15px;
    }

    .texto3 h2{
        font-size: 2rem;
        display: none;
    }

    .texto3 h3{
        font-size: 1.2rem;
        margin-top: 2px;
        margin-bottom: 0px;
    }

    .card_places .back p {
        margin-top: 15px;
        font-size: 0.9rem;
    }
    .card_places .back h3 {
        margin-top: 0px;
        font-size: 1rem;
    }

}
    


@media screen and (min-width: 768px) and ( max-width: 991px ) {

    .texto1 .text-animated .text1{
        max-width: 991px;
        max-height: 120px;
        font-size: 28px;
        padding:0%;
        margin:0%;
            }
   
    .grid-ubicacion{
        grid-template-areas: 'mapa ubicacion' 
         'mapa parrafo';
        place-items: center;
        grid-template-rows: 0.2fr 4fr;
        justify-content: center;
            }
    .item1{
        width:300px;
        align-content:center;
        object-fit: cover;
     }
    .item2 #texto2{
        margin-bottom: 0rem;
        margin-top: 0rem;
        font-size: 27px;
        justify-content: center;
    }
    .item3 #parrafoubi{
        font-size: 25px;
        margin-bottom: 0.5rem;
        margin-top: 0rem;
    }

    .grid-ubicacion2{
        grid-template-areas: 'cuna casa' 
         'parrafocasa casa';
        max-width: 991px;
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
        margin-bottom: 1%;
    }
    .item4{
        max-width: 270px;
        max-height: 270px;
        justify-content: center ;
        
    }
    .item5 #texto2{
        margin-bottom: 0rem;
        margin-top: 0rem;
        font-size: 25px;
        
    }
    .item6  #parrafoubi {
        font-size: 18px;
        margin-bottom: 0rem;
        margin-top: 0rem;
    }
   
   
    .tab_wrapper3 {

        grid-template-columns: 50% auto;
        grid-gap: 0px;
        padding: 30px;
    }

    .card_places{
        position: relative;
        width: 350px;
        height: 350px;
        margin-top: 40px;
    }
    
    .card_places .back p {
        margin-top: 15px;
        font-size: 0.9rem;
    }
    .card_places .back h3 {
        margin-top: 0px;
        font-size: 1rem;
    }


    .texto3 h2{
        font-size: 2rem;
        padding-left: 5%;
    }

    .texto3  h2::before {
        padding-left: 5%;
    }

    @keyframes animate {
        0%, 20%, 80% {
            width: 0;
        }
        70%, 90% {
            width: 90%;
        }   
    }
}
    

@media screen and (min-width: 992px) and (max-width:1279px) {

    .texto1 .text-animated .text1{
        max-width: 1279px;
        max-height: 320px;
        font-size: 35px;
        padding:0%;
        margin:0%;
            }

     .grid-ubicacion{
        grid-template-areas: 'mapa ubicacion' 
        'mapa parrafo';
        place-items: center;
        grid-template-rows: 0.2fr 4fr;
        justify-content: center;
     }               
   
    .item1{
        width: 400px;
        align-content:center;
        
     }
    .item2 #texto2{
        margin-bottom: 0rem;
        margin-top: 0rem;
        font-size: 40px;
        justify-content: center;
    }
    .item3 #parrafoubi{
        font-size: 22px;
        margin-bottom: 0.5rem;
        margin-top: 0rem;
    }

    .grid-ubicacion2{
        grid-template-areas: 'cuna casa' 
         'parrafocasa casa';
        max-width: 1279px;
        max-height: 400px;
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
        margin-bottom: 1%;
    }
    .item4{
        max-width: 380px;
        max-height: 380px;
        justify-content: center ;
        
    }
    .item5 #texto2{
        margin-bottom: 0rem;
        margin-top: 0rem;
        font-size: 33px;
        
    }
    .item6  #parrafoubi {
        font-size: 22px;
        margin-bottom: 0rem;
        margin-top: 0rem;
    }
   
    .tab_wrapper3 {

        grid-template-columns: 50% auto;
        grid-gap: 15px;
        padding: 40px;
    }

    .card_places{
        position: relative;
        width: 400px;
        height: 400px;
        margin-top: 5px;
        
    }

    .texto3 h3 {
        font-size: 2rem;
    }
    .texto3 h2{
        font-size: 2rem;
    }

    .card_places .back p {
        margin-top: 15px;
        font-size: 0.9rem;
    }
    
} 



@media screen and (min-width: 1280px) and ( max-width:1599px ) {
    
    
    body {
        position: relative;
        padding-top: 3rem;
        padding-left: 0rem;
        padding-right: 0rem;
     }
     
     .item1{
        width: 500px;
        align-content:center;
        
     }

     .item_iframe {
        width: 100%;
     }
    
     .tab_wrapper3 {

        grid-template-columns: 50% auto;
        grid-gap: 0px;
        padding: 50px;
    }

     .card_places{
        position: relative;
        width: 500px;
        height: 500px;
        margin-top: 40px;
    }

    .texto3 h2 {
        padding-left: 10%;
    }

    .texto3 h2::before {
        padding-left: 10%;
    }
}

@media screen and (min-width:1600px) and (max-width:1920px)  { 

    body {
        position: relative;
        padding-bottom: 0rem;
        padding-top: 3rem;
        padding-left: 0rem;
        padding-right: 0rem;
     }
     
     .item1{
        width: 600px;
        align-content:center;
        
     }

     .item_iframe {
        width: 100%;
     }
    
        .tab_wrapper3 {
        grid-template-columns: 25% 25% 25% 25%;
        grid-gap: 0px;
        padding: 20px;
    }

     .card_places{
        position: relative;
        width: 350px;
        height: 350px;
        margin-top: 40px;
        display: inline-flex;
    }

    .card_places .back p {
        margin-top: 15px;
        font-size: 0.9rem;
    }

    .texto3 h2 {
        padding-left: 20%;
    }

    .texto3 h2::before {
        padding-left: 20%;
    }

    
}

@media screen and (min-width:1921px)  { 

    body {
        position: relative;
        padding-bottom: 4.5rem;
        padding-top: 3rem;
        padding-left: 0rem;
        padding-right: 0rem;
     }
     
     .item1{
        width: 600px;
        align-content:center;
        
     }

     .item_iframe {
        width: 100%;
     }
    
        .tab_wrapper3 {
        grid-template-columns: 25% 25% 25% 25%;
        grid-gap: 0px;
        padding: 20px;
    }

     .card_places{
        position: relative;
        width: 450px;
        height: 450px;
        margin-top: 40px;
        display: inline-flex;
    }

    .card_places .back p {
        margin-top: 2rem;
        font-size: 1.3rem;
    }

    .texto3 h2 {
        padding-left: 25%;
    }

    .texto3 h2::before {
        padding-left: 25%;
    }

    
}
