{% extends "base.html" %}


<body>
{% block content %}
   <!--<header class="header">
        <div class="logo">
                <a href="index.html"><img src="{{ url_for('static', filename='img/logo-turismo.png') }}" alt="logo-viajes"></a>
                </div>
                <input type="checkbox" id="menu-bar"></input>
                <label for="menu-bar"> <i class="fa-solid fa-bars"></i><h6>Menu</h6></label>
                <div class="navbar">
                <ul class="navbar-links"> 
                   <li><a href="index.html">Inicio</a></li>                
                   <li><a href="#">Donde Ir +</a>
                       <ul class="submenu">
                            <li><a href="mendoza.html">Mendoza</a></li>
                            <li><a href="sanjuan.html">San Juan</a></li>
                            <li><a href="tucuman.html">Tucuman</a></li>
                            <li><a href="corrientes.html">Corrientes</a></li>
                       </ul>
                   </li> 
                   <li><a href="sobre_nosotros.html">Sobre Nosotros</a></li> 
                   <li><a href="contacto.html" class="nav-menu-link_active" >Contacto</a></li>  
                </ul>                     
                </div> 
                <div class="buttons">
                <i class="fa-brands fa-whatsapp"></i> 
                <i class="fa-brands fa-facebook"></i>
            </div>
     
    </header> -->
    <div class="container">
         
        <div class="video_principal">
          <video autoplay muted loop preload="auto" src="{{ url_for('static', filename='img/Principal_slider1.mp4') }}"  ></video>
        </div>
        
        <div class="frase_container">
            <img src="{{ url_for('static', filename='img/mountains-1412683_1920.webp') }}" alt="" loading="eager">
            <div class="texto_frase">
                <p>Vení a conocer lo que tenemos para ofrecer en nuestro país</p> 
                    <br>  
                <p>Todas las opciones para disfrutar como mas te guste. Te invitamos a disfrutar de sus paisajes, turismo aventura, culturas, gastronomía, historia.</p>
            </div>
        </div>
        
        
        <div class="container_prov">
            <div class="text-animated">
                <h3>Experimenta Argentina</h3>
                <h2 data-text="Provincias que no te podes perder...">Provincias que no te podes perder...</h2>
            </div> 
            <div class="card_container">
                <article class="card_article">
                    <img src="{{ url_for('static', filename='img/sanjuan.webp') }}"  alt="image" class="card_image" 
                   > 
                    <div class="card_data">
                        <span class="card_description"></span>
                        <h2 class="card_title">San Juan</h2>
                        <a href="sanjuan.html" class="card_button">Ver Mas Informacion</a>
                    </div>
                </article>
                
                <article class="card_article">
                    <img src="{{ url_for('static', filename='img/corrientes.webp') }}" alt="image" class="card_image"
                    >
                    <div class="card_data">
                        <span class="card_description"></span>
                        <h2 class="card_title">Corrientes</h2>
                        <a href="corrientes.html" class="card_button">Ver Mas Informacion</a>
                    </div>
                </article>

                <article class="card_article">
                    <img src="{{ url_for('static', filename='img/tucumancasa.webp') }}"  alt="image" class="card_image"
                    >
                    <div class="card_data">
                        <span class="card_description"></span>
                        <h2 class="card_title">Tucuman</h2>
                        <a href="tucuman.html" class="card_button">Ver Mas Informacion</a>
                    </div>
                </article>

                <article class="card_article">
                    <img src="{{ url_for('static', filename='img/Mendoza.webp') }}" alt="image" class="card_image"
                    >
                    <div class="card_data">
                        <span class="card_description"></span>
                        <h2 class="card_title">Mendoza</h2>
                        <a href="mendoza.html" class="card_button">Ver Mas Informacion</a>
                    </div>
                </article>
            </div>
        </div>
        
        <div class="container_tabs">
            <div class="text-animated_2">
                <span class="text1">¿Que te podemos ofrecer?</span>
            </div>
            <div class="tab_wrapper">
                <div class="tab_header"> 
                    <button class="tab_btn active">Paisajes</button>
                    <button class="tab_btn">Gastronomía</button>
                    <button class="tab_btn">Cultura</button>
                    <button class="tab_btn">Actividades</button>
                </div>
                <div class="tab_body">
                    <div class="tab_content active">
                            <div class="card_places">
                                <div class="face front">
                                    <img src="{{ url_for('static', filename='img/patagonia_argentina.webp') }}" alt=""
                                    loading="lazy">
                                    <h3>Region Patagonica</h3>
                                </div>
                                <div class="face back">
                                    <h3>Region Patagonica</h3>
                                    <p>Cumbres de volcanes con géiseres y aguas termales; montañas de donde descienden enormes glaciares, lagos y ríos. Sus encantadores valles y aldeas de montaña rodeadas de bosques autóctonos milenarios, son lugares perfectos para descansar y vacacionar.</p>
                                    <div class="link"><a href="#">Mas Detalles</a></div>
                                </div>
                            </div>
                            <div class="card_places">
                                <div class="face front">
                                    <img 
                                    loading="lazy"
                                    src="{{ url_for('static', filename='img/salta-northwest.webp') }}" alt="">
                                    <h3>Region del NOA</h3>
                                </div>
                                <div class="face back">
                                    <h3>Region del NOA</h3>
                                    <p>En este territorio la geografía presenta notables contrastes y una sublime belleza paisajística que enamora a cualquiera. La aridez de la Puna; la exuberante selva de las Yungas; las planicies santiagueñas casi a nivel del mar; y los más de 6.800 metros de la Cordillera de los Andes.</p>
                                    <div class="link"><a href="#">Mas Detalles</a></div>
                                </div>
                            </div>
                            <div class="card_places">
                                <div class="face front">
                                    <img src="{{ url_for('static', filename='img/region_cuyo.webp') }}"  alt=""
                                    loading="lazy">
                                    <h3>Region de Cuyo</h3>
                                </div>
                                <div class="face back">
                                    <h3>Region de Cuyo</h3>
                                    <p>Destaca por la tranquilidad de sus ciudades y por sus oasis en medio de la aridez de llanuras y montañas. Pueden disfrutar del andinismo, esquí, pesca y deportes naúticos, y visitas a las principales bodegas que son catalogadas dentro de las mejores del mundo. </p>
                                    <div class="link"><a href="#">Mas Detalles</a></div>
                                </div>
                            </div>
                            <div class="card_places">
                                <div class="face front">
                                    <img src="{{ url_for('static', filename='img/region_litoral.webp') }}" alt=""
                                    loading="lazy">
                                    <h3>Litoral y Grandes Rios</h3>
                                </div>
                                <div class="face back">
                                    <h3>Litoral y Grandes Rios</h3>
                                    <p>Siguiendo el curso del río Paraná, el Paraguay y el Uruguay, atravesada por incontables arroyos, esta región te propone tardes de playa y deportes acuáticos, cabalgatas, kayak, avistaje de aves y experiencias inolvidables en parques nacionales y reservas naturales.</p>
                                    <div class="link"><a href="#">Mas Detalles</a></div>
                                </div>
                            </div>
                    </div>
                    <div class="tab_content">
                        <div class="card_places">
                            <div class="face front">
                                <img src="{{ url_for('static', filename='img/asado_2.webp') }}" alt=""
                                loading="lazy">
                                <h3>Asado Argentino</h3>
                            </div>
                            <div class="face back">
                                <h3>Asado Argentino</h3>
                                <p>Es el plato típico argentino por excelencia y una de las delicias del país. Consiste en diferentes piezas de carne que, como su propio nombre indica, se asan a la brasa.El tipo de carne que se suele consumir es la de vaca, cordero o el cabrito.
                                </p>
                                <div class="link"><a href="#">Mas Detalles</a></div>
                            </div>
                        </div>
                        <div class="card_places">
                            <div class="face front">
                                <img src="{{ url_for('static', filename='img/empanadas-argentinas.webp') }}" alt=""
                                loading="lazy">
                                <h3>Empanadas Argentinas</h3>
                            </div>
                            <div class="face back">
                                <h3>Empanadas Argentinas</h3>
                                <p>De herencia española, este plato cuenta con numerosas variedades dependiendo de la región donde uno se encuentre. Una de las más populares es la de carne, que suele ir aderezada con cebolla, huevo duro y aceitunas.</p>
                                <div class="link"><a href="#">Mas Detalles</a></div>
                            </div>
                        </div>
                        <div class="card_places">
                            <div class="face front">
                                <img src="{{ url_for('static', filename='img/vino2.webp') }}" src="img/vino2.webp" alt=""
                                loading="lazy">
                                <h3>Vinos Argentinos</h3>
                            </div>
                            <div class="face back">
                                <h3>Vinos Argentinos</h3>
                                <p>Nuestra vitivinicultura cuenta con más de cinco siglos de historia, integrando los saberes de los pueblos originarios con la tradición de los inmigrantes europeos, y representa la industria del sector más importante de América del Sur.</p>
                                <div class="link"><a href="#">Mas Detalles</a></div>
                            </div>
                        </div>
                        <div class="card_places">
                            <div class="face front">
                                <img src="{{ url_for('static', filename='img/costumbres_argentinas_dulce_de_leche.webp') }}" alt=""
                                loading="lazy">
                                <h3>Dulce de Leche</h3>
                            </div>
                            <div class="face back">
                                <h3>Dulce de Leche</h3>
                                <p>El dulce de leche es algo que está probablemente en la casa de todos los argentinos a lo largo del país. Se trata de un dulce tradicional hecho de leche de vaca, azúcar, esencia de vainilla y un poco de bicarbonato de sodio.</p>
                                <div class="link"><a href="#">Mas Detalles</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="tab_content">
                        <p><div class="card_places">
                            <div class="face front">
                                <img src="{{ url_for('static', filename='img/costumbres_argentinas_tango.webp') }}" alt=""
                                loading="lazy">
                                <h3>Tango Argentino</h3>
                            </div>
                            <div class="face back">
                                <h3>Tango Argentino</h3>
                                <p>El tango es una de las danzas típicas de Argentina y la más conocida sobre todo, internacionalmente. Si bien hoy en día los argentinos no tenemos la tradición de bailar tango, en los barrios porteños más turísticos, se puede ver gente bailando tango en las calles y en los clubes de tango. </p>
                                <div class="link"><a href="#">Mas Detalles</a></div>
                            </div>
                        </div>
                        <div class="card_places">
                            <div class="face front">
                                <img src="{{ url_for('static', filename='img/costumbres_argentinas_folklore.webp') }}" alt=""
                                loading="lazy">
                                <h3>Folklore</h3>
                            </div>
                            <div class="face back">
                                <h3>Folklore</h3>
                                <p>El folklore es la música típica de Argentina, tradicional de los gauchos y tiene varios subgéneros, que pertenecen a diferentes regiones del país. Sus melodías y danzas son una de las tradiciones argentinas más extendidas y dependiendo de las celebraciones pueden variar los tipos de bailes que se desarrollen.</p>
                                <div class="link"><a href="#">Mas Detalles</a></div>
                            </div>
                        </div>
                        <div class="card_places">
                            <div class="face front">
                                <img src="{{ url_for('static', filename='img/dia_tradicion.webp') }}" alt=""
                                loading="lazy">
                                <h3>Día de la Tradición</h3>
                            </div>
                            <div class="face back">
                                <h3>Día de la Tradición</h3>
                                <p>Las celebraciones del Día de la tradición se realizan en varios pueblos del país, donde representantes de distintas agrupaciones tradicionalistas recorren las calles vestidos de gauchos, montados a caballo, junto a espectáculos de música y bailes típicos.</p>
                                <div class="link"><a href="#">Mas Detalles</a></div>
                            </div>
                        </div>
                        <div class="card_places">
                            <div class="face front">
                                <img src="{{ url_for('static', filename='img/costumbres_argentinas_mate.webp') }}" alt=""
                                loading="lazy">
                                <h3>Compartir Mate</h3>
                            </div>
                            <div class="face back">
                                <h3>Compartir Mate</h3>
                                <p>El mate es la infusión tradicional y favorita de todos los argentinos. Su sabor es amargo pero podes agregarle a gusto cualquier tipo de endulzante, ya sea azúcar, edulcorante o miel. Es el pretexto ideal para generar charlas con quienes tengas cerca.</p>
                                <div class="link"><a href="#">Mas Detalles</a></div>
                            </div>
                        </div>
                    </div>   
                    <div class="tab_content">
                        <div class="card_places">
                            <div class="face front">
                                <img src="{{ url_for('static', filename='img/ciclismo.webp') }}" alt=""
                                loading="lazy">
                                <h3>Ciclismo</h3>
                            </div>
                            <div class="face back">
                                <h3>Ciclismo</h3>
                                <p>Argentina ofrece grandes atractivos para disfrutar de la bicicleta. Solo se necesita un estado físico aceptable, paciencia y muchas ganas de disfrutar de los paisajes en silencio y despacio. Disponemos de rutas para todos los niveles de dificultad. Buenas bicis, repuestos, ropa, agua y comida, y… ¡a disfrutar!</p>
                                <div class="link"><a href="#">Mas Detalles</a></div>
                            </div>
                        </div>
                        <div class="card_places">
                            <div class="face front">
                                <img src="{{ url_for('static', filename='img/trekking_alta_montaña.webp') }}"  alt=""
                                loading="lazy">
                                <h3>Treeking y Senderismo</h3>
                            </div>
                            <div class="face back">
                                <h3>Treeking y Senderismo</h3>
                                <p>Sentí la naturaleza bajo tus pies explorando la gran red de senderos que ofrece Argentina. Gracias a la infinidad de ambientes y geografías con que cuenta Argentina para vivenciar esta actividad, recargar energías y retornar renovados.</p>
                                <div class="link"><a href="#">Mas Detalles</a></div>
                            </div>
                        </div>
                        <div class="card_places">
                            <div class="face front">
                                <img src="{{ url_for('static', filename='img/ballenas_naturaleza.webp') }}" alt=""
                                loading="lazy">
                                <h3>Naturaleza</h3>
                            </div>
                            <div class="face back">
                                <h3>Naturaleza</h3>
                                <p>Ballenas, carpinchos, guanacos, orcas y mucho más. ¡En Argentina se vive una fauna increíble!. La variada geografía argentina y la existencia en ella de los más diferentes climas, hacen de este territorio el edén del avistaje de especimenes autóctonos.</p>
                                <div class="link"><a href="#">Mas Detalles</a></div>
                            </div>
                        </div>
                        <div class="card_places">
                            <div class="face front">
                                <img src="{{ url_for('static', filename='img/invierno_argentina_temporada.webp') }}" alt=""
                                loading="lazy">
                                <h3>Temporada Invernal  </h3>
                            </div>
                            <div class="face back">
                                <h3>Temporada Invernal</h3>
                                <p>Descubrí cómo es vacacionar en la ciudad del fin del mundo, Ushuaia. Atrevete a escalar los cerros con más pendientes para practicar Snowboard en Bariloche. Sentí cómo es vivir dentro de una ciudad encantada como Villa La Angostura. Emocionate a cada paso por una de las maravillas del mundo, El Glaciar Perito Moreno.</p>
                                <div class="link"><a href="#">Mas Detalles</a></div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>                 
        </div>   
    </div>


    
 {% endblock %}

    
    
    
   <!-- <script src="{{ url_for('static', filename='js/header.js') }}"></script> -->
    
   <!-- <script src="{{ url_for('static', filename='js/footer.js') }}"></script> -->
   

</body>
</html>