/*Nav menu*/

.header {
    background-color: white;
    height: 100px;
    position: absolute;
    display: flex;
    border-bottom: 1px groove rgba(174, 223, 255, 0.658);
    padding: 0px 2rem;
    align-items: center;
    justify-content: space-around;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    z-index: 999;
}

.header .logo img {
    
    transition: all 0.3s;
    max-width: 180px;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .navbar .navbar-links {
    list-style: none;
    
}

.header .navbar .navbar-links li {
    position: relative;
    float: left;
    list-style: none;    
}

.header .navbar .navbar-links li a {
    font-size: 15px;
    display: block;
    text-decoration: none;
    transition: all 0.3s;
    padding: 2rem 10px;
    color: rgb(0, 110, 255);
    border-bottom: 1px solid rgba(77, 154, 255, 0);
    font-weight: 600;
}  

.header .navbar .navbar-links li a:hover { 
    border-bottom: 1px solid rgb(0, 110, 255);

}

.navbar .navbar-links li .submenu {
    position: absolute;
    color: aliceblue;
    left: 0;
    width: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(77, 154, 255);
    border-radius: 15px;
    display: none;
    transition: all 0.3s;
}

.navbar .navbar-links li .submenu li {
    width: 100%;
    border-bottom: 1px groove rgba(247, 247, 247, 0.219);
    
}

.navbar .navbar-links li .submenu li a {
    color: rgb(255, 255, 255);
    padding: 20px 0px 20px 10px;
}    

.navbar .navbar-links li .submenu li a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(77, 154, 255);
}

.navbar .navbar-links li:focus-within > ul,
.navbar .navbar-links li:hover > ul {
    display: initial;
} 


.buttons {  

    display: block;
}
    
/* .action_btn {
    background-color: rgb(0, 195, 255);
    color: aliceblue;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 5rem;
}

.action_btn:hover {
    scale: 1.01;
    color: rgb(0, 136, 255);
    background-color: aliceblue;
    border: 1px groove rgb(0, 110, 255);
}

.action_btn:active {
    scale: 0.95;
}

*/

.buttons .fa-brands {
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: inline-block;
    cursor: pointer;
    
}

.buttons .fa-brands {
    font-size: 25px;
    padding: 0 3px;
    transition: all 0.2s;

}

.buttons .fa-brands:hover {
    transform: scale(1.2);
}

.fa-bars:before, .fa-navicon:before {
    content: "\f0c9";
}

.fa-bars:before, .fa-navicon:before #text {
    font-size: 15px;
}


#menu-bar {
    display: none;
}

.header label {
    cursor: pointer;
    display: none;
    align-items: center;
}

.header label h6 {
    margin-left: 5px;
}

  

@media screen and (max-width: 367px) {

    .header {
        justify-content: space-between;
    }

    .header .logo img {
    
        transition: all 0.3s;
        max-width: 150px;
    }
    
    .navbar {
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: aliceblue;
        color: rgb(0, 110, 255);
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        display: none;

    }
    
    .navbar .navbar-links li{
        width: 100%;
    }
    
    .header .navbar .navbar-links li a {
        border-bottom: 1px solid rgb(209 229 255);
    }
    
    .navbar .navbar-links li .submenu {
        position: relative;
        width: 100%;
    }
    
    .navbar .navbar-links li .submenu li {
        background-color:rgb(0, 110, 255);
        padding-left: 15px;
    }
    
    .navbar .navbar-links li .submenu li a {
        color: aliceblue;
    }

    
    .header label {
        display: flex;
    }    
    
    #menu-bar:checked ~ .navbar {
        display: initial;
    }

    .buttons {
    display: none;
    }
    
}    

@media screen and (min-width:368px) and (max-width: 575px) {

    .header {
        justify-content: space-between;
    }


    .header .logo img {
    
        transition: all 0.3s;
        max-width: 160px;
    }
    
    .navbar {
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: aliceblue;
        color: rgb(0, 110, 255);
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        display: none;

    }
    
    .navbar .navbar-links li{
        width: 100%;
    }
    
    .navbar .navbar-links li .submenu {
        position: relative;
        width: 100%;
    }
    
    .navbar .navbar-links li .submenu li {
        background-color:rgb(0, 110, 255);
        padding-left: 15px;
    }
    
    .header .navbar .navbar-links li a {
        padding: 1.5rem 10px;
        border-bottom: 1px solid rgb(209 229 255);
    }
    
    .navbar .navbar-links li .submenu li a {
        color: aliceblue;
        border: none;
    }

    
    .header label {
        display: flex;
    }    
    
    #menu-bar:checked ~ .navbar {
        display: initial;
    }
    

    .buttons {
    display: none;
    }

}

@media screen and (min-width: 576px) and (max-width: 1024px) {

    .header .logo  {
        align-items: center;
        justify-content:left;
        cursor: pointer;
        height: auto;
        width: 100%;
        max-width: 150px;
        min-width: 120px;
        margin-right:0px;
    }
    
    .header .logo img:hover {
        transform: scale(1.1);
    }
    
    .navbar {
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: aliceblue;
        color: rgb(0, 110, 255);
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        display: none;

    }
    
    .navbar .navbar-links li{
        width: 100%;
    }
    
    .header .navbar .navbar-links li a {
        border-bottom: 1px solid rgb(194, 220, 255);
    }
    
    .navbar .navbar-links li .submenu {
        position: relative;
        width: 100%;
    }
    
    .navbar .navbar-links li .submenu li {
        background-color:rgb(0, 110, 255);
        padding-left: 15px;
    }
    
    .navbar .navbar-links li .submenu li a {
        color: aliceblue;
    }
    
    .buttons .action_btn {
        display: none;
    }
    
    .buttons {
        display: flex;
        margin-left: 2%;
    }
      
    
    .header label {
        display: flex;
        margin-left: 55%;
    }    
    
    #menu-bar:checked ~ .navbar {
        display: initial;
    }
    

}  
