<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/sanjuan.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <title>SAN JUAN</title>
</head>

<body>
    <header class="header">
    </header>

    <div class="container">

        <div class="video_sanjuan">
            <video autoplay muted loop preload="auto" src="img/sanjuan_video.mp4"></video>
        </div>


        <div class="texto1">
            <div class="text-animated">
                <span class="text1"> LA PROVINCIA AMIGA DE NUESTRA CORDILLERA</span>
            </div>
        </div>

        <div class="tab_wrapper1">
            <div class="grid-ubicacion">
                <div class="item1"><iframe class="item_iframe"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27205.79267237121!2d-68.55327620696548!3d-31.531737270074068!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96814029a33cd497%3A0xbff3a3a0233cfcb3!2sSan%20Juan!5e0!3m2!1ses-419!2sar!4v1714500763748!5m2!1ses-419!2sar"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="item2">
                    <p id="texto2">UBICACIÓN</p>
                </div>
                <div class="item3">
                    <p id="parrafoubi">San Juan es una ciudad en el valle al este de la cordillera de los Andes, en la
                        zona central occidental de Argentina. En el centro está la Casa Natal de Sarmiento, donde nació
                        el presidente del siglo XIX y escritor Domingo Faustino Sarmiento.</p>
                </div>
            </div>
        </div>

        <div class="tab_wrapper2">
            <div class="grid-ubicacion2">
                <img class="item4" src="img/sanjuan5.jpg" alt="">

                <div class="item5">
                    <p id="texto2">ORIGEN SAN JUAN</p>
                </div>
                <div class="item6">
                    <p id="parrafoubi"> La zona en la que se ubica actualmente la ciudad fue habitada en la era
                        precolombina por el pueblo huarpe. Su zona de influencia se extendió a las sierras de Chica de
                        Zonda, Villicum y Pie de Palo y el cerro Valdivia, entre otras. Otras zonas de arraigo fueron la
                        de influencia del río Bermejo y de las Lagunas de Guanacache (o Huanacache), ambas márgenes del
                        río Desaguadero. Se dedicaban a la agricultura y a la ganadería. Los grupos se ubicaban en
                        tierras regadas por redes de canales y acequias que ellos mismos construían para garantizaban el
                        riego del maíz, la quinoa, el poroto, la calabaza y el mate.</p>
                    <br>
                    <div class="link"><a href="https://sj.sanjuan.gob.ar/">Más info</a></div>
                </div>
            </div>
        </div>

        <div class="texto3">
            <h3>Experimenta San Juan</h3>
            <h2 data-text="LOS MEJORES DESTINOS PARA CONOCER">LOS MEJORES DESTINOS PARA CONOCER</h2>
        </div>

        <div class="tab_wrapper3">
            <div class="card_places">
                <div class="face front">
                    <img src="img/sanjuan1.jpg" alt="">
                    <h3>Teatro del bicentenario</h3>
                </div>

                <div class="face back">
                    <p>El Teatro del Bicentenario en la Ciudad de San Juan, Argentina es uno de los espacios culturales
                        mas importantes del país. Su moderno diseño y las excepcionales condiciones, tecnológicas y
                        acústicas la sala principal lo colocan al nivel de los mejores escenarios del mundo permitiendo
                        la presentación de espectaculos de gran envergadura</p>
                </div>
            </div>
            <div class="card_places">
                <div class="face front">
                    <img src="img/sanjuan2.jpg" alt="">
                    <h3>Dique de Ullum</h3>
                </div>

                <div class="face back">
                    <p>La represa Ullum es una represa sobre el río San Juan, ubicada en el extremo sureste del
                        departamento Ullum y extremo noreste del departamento Zonda, en el centro sur de la provincia de
                        San Juan, Argentina. En él es posible la práctica de varios deportes acuáticos en el lago y
                        deportes de aventura como escalinatas, ciclismo, entre otros.</p>
                </div>
            </div>

            <div class="card_places">
                <div class="face front">
                    <img src="img/san juan3.jpg" alt="">
                    <h3> Parque El Leoncito</h3>
                </div>
                <div class="face back">
                    <p>El parque nacional El Leoncito se encuentra sobre los faldeos occidentales de las sierras del
                        Tontal en el sur del departamento Calingasta, extremo suroeste de la provincia de San Juan en
                        Argentina. Se halla a 34 km de la localidad de Barreal y en el límite con la provincia de
                        Mendoza. </p>
                </div>
            </div>
            <div class="card_places">
                <div class="face front">
                    <img src="img/sanjuan4.jpg" alt="">
                    <h3>Jardin de los poetas</h3>
                </div>
                <div class="face back">
                    <p>Ubicado en el corazón de la Ciudad de San Juan, es uno de de sus lugares más emblemáticos y paso
                        obligado para los que la caminan. Se inauguró 11 de Abril del año 1958 con el nombre de "Jardín
                        de los poetas argentinos" y contaba con 34 bustos cada uno de los cuales poseía una placa en
                        recordación a la autora del jardín.</p>
                </div>
            </div>


        </div>
    </div>

        <footer class="footer">

        </footer>

        <script src="js/tabs.js"></script>
        <script src="js/header.js"></script>
        <script src="js/footer.js"></script>
        <script src="https://kit.fontawesome.com/fb972792d5.js" crossorigin="anonymous"></script>
</body>

</html>